
.inicio {
    background: #fff url(/img/fondo.svg) center center/cover no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* margin-top: -5%; */
    flex-wrap: wrap;
  }
  
.texto {
    padding-left: 80px;
    margin-top: -400px; /* Por qué se sube tanto sin esto???*/
}
.texto h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 105px;
    line-height: 48px;

    color: #FFFFFF;
}

.texto h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 105px;
    line-height: 200px;

    color: #FFFFFF;
}

.texto span {
    display: block;
    color: #FD62D6;
    font-weight: 500;
    font-size: 90px;
    font-family: 'Inter';
}

.texto span:before {

    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;

    animation: typing 2s steps(12),
        blink .5s infinite step-end alternate;
        overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
}
@keyframes blink {
    50% { border-color: transparent }
}

.texto p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 85px;

    color: #FFFFFF;
}

.botones {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 10px;
    font-size: 66px;
    
}

.botones .button1 {
    box-sizing: border-box;
    background-color: #79158A;
    border: 3px solid #79158A;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.botones .button2 {
    box-sizing: border-box;
    border: 3px solid #79158A;
    border-radius: 10px;
    color: #79158A;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

}