.inicio {
    background: #fff url(/img/background.png) center center/cover no-repeat;
    height: 100vh;
    padding-top: 260px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}

.container {
   display: grid;
   gap: 60px;
   padding: 80px; 
}

.texto h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 38px;

    color: #FFFFFF;
}

.texto h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 50px;

    color: #FFFFFF;
}

.texto span {
    color: #FD62D6;
    font-weight: 500;
    font-size: 60px;
    font-family: 'Inter';
}

.texto span:before {

    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;

    animation: typing 2s steps(12),
        blink .5s infinite step-end alternate;
        overflow: hidden;
}

/* @keyframes typing {
    from { width: 0 }
}
@keyframes blink {
    50% { border-color: transparent }
} */

.texto p {
    display: inline-block;
    width: 1000px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    /* line-height: 85px; */

    color: #FFFFFF;
}

.botones {
    display: grid;
    gap: 80px;
    grid-auto-flow: column;
    width: fit-content;
    
}

.botones .button1 {
    box-sizing: border-box;
    background-color: #79158A;
    border: 6px solid #79158A;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
}

.botones .button2 {
    box-sizing: border-box;
    border: 6px solid #79158A;
    border-radius: 10px;
    background-color: transparent;
    /* color: #79158A; */
    color: #FFFFFF;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;

}

.imagen {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1920px) {
    .inicio {
        background: #fff url(/img/background.png) center center/cover no-repeat;
        height: 100vh;
        padding-top: 100px;
        width: 100%;
    }

    .container {
        display: grid;
        gap: 50px;
        padding: 80px; 
     }
}
  

@media only screen and (max-width: 1080px) {
    .inicio {
        background: #fff url(/img/background.png) center center/cover no-repeat;
        height: 100vh;
        padding-top: 100px;
        width: 100%;
    }

    .container {
        display: grid;
        gap: 50px;
        padding: 80px; 
     }

     .texto h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 38px;
    }
    
    .texto h2 {
        font-weight: 500;
        font-size: 40px;
        line-height: 20px;
    }
    
    .texto span {
        font-weight: 500;
        font-size: 40px;
    }

    .texto p {
        width: 800px;
        font-weight: 500;
        font-size: 35px;
        /* line-height: 85px; */
    }

    .botones .button1 {
        font-size: 35px;
    }

    .botones .button2 {
        font-size: 35px;
    }
}

@media only screen and (max-width: 768px) {

    .inicio {
        height: 100vh;
        padding-top: 250px;
        width: 100%;
    }

    .container {
        padding: 50px; 
     }

     .texto h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 38px;
    }
    
    .texto h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 20px;
    }
    
    .texto span {
        font-weight: 500;
        font-size: 30px;
    }

    .texto p {
        width: 600px;
        font-weight: 500;
        font-size: 25px;
        /* line-height: 85px; */
    }

}